Django==5.2.2
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.10
django-nested-admin==4.1.1
django_celery_results==2.6.0
celery==5.3.6
psycopg2-binary==2.9.10
redis==4.6.0
python-dotenv==1.1.0
requests==2.32.4
urllib3==2.4.0
beautifulsoup4==4.13.4
lxml==5.4.0
playwright==1.52.0
loguru==0.7.3
