{% extends "admin/change_form.html" %}
{% load i18n %}
 
{% block object-tools %}
{% if original.pk %}
<form action="{% url 'admin:common_parser_branch_change' original.pk %}parse/" method="POST">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Парсинг' %}" name="_parse"/>
 </form>
 <form action="{% url 'admin:common_parser_branch_change' original.pk %}parse-yandex/" method="POST">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Парсинг яндекса' %}" name="_parse"/>
 </form>
 <form action="{% url 'admin:common_parser_branch_change' original.pk %}parse-2gis/" method="POST">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Парсинг 2gis' %}" name="_parse"/>
 </form>
 <form action="{% url 'admin:common_parser_branch_change' original.pk %}parse-vlru/" method="POST">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Парсинг vlru' %}" name="_parse"/>
 </form>
 {% endif %}
    {{ block.super }}
{% endblock %}